---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Abdullah Al Asad" description="About Abdullah Al Asad Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<!-- <img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Abdullah Al Asad at work with a colleague"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I have over 13 years of software development experience, leading cross-functional teams and delivering scalable, 
						high-impact mobile solutions for diverse industries. With expertise spanning Kotlin, Android, Flutter, and backend 
						systems using Spring Boot and AWS, I am dedicated to delivering innovative, maintainable products.
					</p>
					<p>
						Recent highlights include:
						<ul>
						<li>Developing merchant gateway solutions for Bank of America using Flutter.</li>
						<li>Leading development of a digital wallet app with 500K+ downloads.</li>
						<li>Conducting advanced research on AI and large language models (LLMs) at Clark Atlanta University.</li>
						</ul>
					</p>
					<p>
						Beyond development, I am passionate about mentoring developers, clean architecture, and exploring cutting-edge AI technologies to improve user experiences.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<ul>
						<li><strong>Master of Computer Science</strong> — Clark Atlanta University, Atlanta, GA (2024) | GPA: 4.00</li>
						<li><strong>Master of Information Technology</strong> — University of Dhaka, Bangladesh (2018)</li>
						<li><strong>Bachelor of Computer Science and Engineering</strong> — Khulna University of Engineering and Technology, Bangladesh (2009)</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
				    <div class="content">
						<ul>
							<li><strong>Data Science and ML:</strong> Python, TensorFlow, NLP, LLM, Generative AI, RAG, AI Agents, PyTorch, transformers, llama.cpp, Scikit-learn, Langchain, llamaindex, AWS Lex, Bedrock</li>
							<li><strong>Data Management:</strong> Apache Iceberg, Apache Hive, MinIO, DuckDB, Apache Parquet, Faiss, ChromaDB, SQLite, DynamoDB, MySQL</li>
							<li><strong>Frontend Development:</strong>Flutter, Native Android & iOS (Java, Kotlin, Swift), JavaScript, TypeScript, React.js, Next.js</li>
							<li><strong>Backend Development:</strong> Java Spring Boot, Hibernate, AWS (EC2, Amplify, S3, Lambda, API Gateway, Cognito, IAM), Firebase, REST, GraphQL</li>
							<li><strong>DevOps and CI/CD:</strong> Gradle, YAML, Makefile, Jenkins, GitHub Actions, Fastlane, Codemagic, Docker</li>
							<li><strong>Design Patterns:</strong> MVVM, MVP, MVC, MVI, Singleton, Factory, Builder, Observer, SOLID principles</li>
							<li><strong>Project Management:</strong> Agile Methodologies, Scrum, Story Sizing, Release Planning, Backlog Refinement, JIRA, Trello, Kanban Board</li>
							<li><strong>Game Development:</strong> LibGdx, Unity 3D</li>
						</ul>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
